
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  max-width: 80%;
  margin: 2% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #007BFF;
}

.form-aggiungi {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 30px;
}

.form-aggiungi h1 {
  margin-bottom: 10px;
}

.form-aggiungi h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.formElement {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formElement label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formElement input {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #007BFF;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.categoryList div {
  display: flex;
  align-items: center;
}

.categoryList input[type="checkbox"] {
  margin-right: 5px;
}

.formButtons {
  display: flex;
  justify-content: center;
}

.formButtons button {
  margin: 10px 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.formButtons button[type="reset"] {
  background-color: #6c757d;
}

.formButtons button:hover {
  opacity: 0.9;
}

.event-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.event-list li {
  min-width: 300px;
  padding: 15px;
  margin: 10px;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.event-list img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.event-list p {
  display: inline-block;
  overflow-wrap: break-word;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.event-list div {
  flex-direction: row;
  text-align: left;
}

.eventCardLabel {
  text-align: left;
  font-weight: bold;
  width: 30%;
}

.event-list button,
.actionButtons button {
  
  margin: 10px 2px 0px 2px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.event-list button:hover,
.actionButtons button:hover {
  opacity: 0.9;
}

.event-list button[type="reset"],
.actionButtons button:hover[type="reset"] {
  background-color: #dc3545;
}

.eventCardTitle {
  font-size: xx-large;
  font-weight: bolder;
  width: 100%;
}



.ticketInput {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.ticketInput button {
  padding: 10px;
  margin-top: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.ticketElement {
  display: flex;
}


.ticketElement input, .ticketElement button {
  display: inline-block;
  padding: 10px;
  margin-top: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;  
}

.ticketElement input {
  width: 38%;
}
.ticketElement button {
  margin-left: 1%;
  width: 24%;
}

.ticketList {
  padding: 0;
}

.ticketList li{
  padding: 15px;
  margin: 10px;
  margin-left: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.categoryTag {
    margin-right: 10px;
    background-color: #ccc;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
}